html *
{
   font-family: Arial;
}


table { 
	border-spacing: 0 50px;
	
}

td{
	border: solid 1px;
}


#lead {
	background-color: #ffd602;
	height: 150px;
}

#leadImage {
    max-height: 250px;
    max-width: 100px;
}

#options {
	padding-bottom: 20px;
}

.select-style {
    border-bottom: 1px solid;
	margin: 0px 10px;
    width: 150px;
	height: 45px;
    overflow: hidden;
    /*background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;*/
	font-size: 30px;
    display:inline-block;

}

.select-style select {
    width: 100%;
	height: 100%;
	border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

}

.select-style select:focus {
    outline: none;
}

#number-select{
	width: 40px;
}

.button {
    background-color: #E02929;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 10px 2px;
	border-radius: 100px;
}

.button:focus {
  outline: none;
}

.button:active{
	background-color: #BE2A2A;
}

#generate-button{
	width: 200px;
	height: 50px;
	margin-left: 50px;
}

#leadText {
    padding: 20px;
    font-weight: bold;
}

#leadDescription {
    display: inline;
    padding-top: 70px;
}

#answers-list{
	display: none;
}

li{
	list-style: none;
}

.answer-buttons{
	width: 200px;
	height: 50px;
}

.question-td{
	border-left: none;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.number-td{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgba(255,214,2,0.51);
}

.left-box{
	margin: 2px 2px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.qnumber {
	margin: 10px;
}

.answer{
	font-size: 30px;
	color: #0f1f59;
	font-weight: bold;
}

#placeholder-text{
	color: #AFAFAF;
	text-align: center;
	
	width: 500px;
    height: 40px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.top-text{
	padding: 2px 0;
}

#generation-line{
	width: 950px;
	margin: 0 auto;
	margin-top: 15px;
}

.text-before-button{
	margin-top: 10px;
}

/*Following code for loader and switch is from W3Schools.com*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
	margin-left: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/